{% load mytags %}
<tr>
    <td><a href="/user/{{test.author}}">{{test.author}}</a></td>
    <td>
        <a href="/test/{{test.id}}">
            {% if test.error %}
                <span style="color: red">
                    <i class="fa-solid fa-car-burst fa-fw  fa-fade"></i>
                </span>
            {% endif %}

            {{test|prettyDevName}}

            {% if  test|testIsFRC %}
                <span style="color: green">
                    <i class="fa-solid fa-chess fa-fw"></i>
                </span>
            {% endif %}
        </a>
    </td>

    <td class="textcenter">
        <a href="{{test|gitDiffLink}}" target="_blank" rel="noopener noreferrer">
            <span>
                <i class="fa-solid fa-plus-minus fa-fw"></i>
            </span>
        </a>
    </td>
    <td>{{test.timecontrol}}s</td>
    <td class='statblock {{test|testResultColour}}'><strong>{{test|shortStatBlock|linebreaksbr}}</strong></td>
</tr>
